<ul class="gallery-list">
    {{#each this}}
    <li class="gallery-card-item" data-id="{{id}}">
        <picture class="gallery-card-picture">
            <source srcset="{{poster_path}}" type="image/jpg">
            <img class="gallery-card-img" src="{{poster_path}}" alt="обложка фильма">
        </picture>
        <div class="gallery-card-info">
            <h2 class="gallery-card-title">{{original_title}}</h2>
            <p class="gallery-card-descr">
                <span class="gallery-card-descr__genre">{{genre}}</span> |
                <span class="gallery-card-descr__year">{{release_date}}</span>
                <span class="gallery-card-descr__rating" hidden>{{popularity}}</span>
            </p>
        </div>
    </li>
    {{/each}}
</ul>